<div class="my-4" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="start">
            <div class="mb-3">
                <h2>Change Password</h2>
                <mat-divider></mat-divider>
            </div>
            <div>
                <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="35px">
                    <p>Password <span class="mx-2" style="color: red;">*</span> <b>:</b> </p>
                    <div style="font-size: 12px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter your password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <p>Confirm Password<span class="mx-2" style="color: red;">*</span> <b>:</b></p>
                    <div style="font-size: 12px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput placeholder="Retype password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" class="ml-5 mb-4">
                    <button type="submit" mat-raised-button color="primary">Submit</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
